<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'customer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-customer-custom.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- comment -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- endcomment -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'customer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-customer-custom.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -2.2rem;
  }

  .header__inline-menu {
      display: none;
  }

  #MainContent {
      margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    header-drawer {
      display: none;
    }
    
    .header__inline-menu {
      display: block;
    }
    body:not(.product) #MainContent {
      margin-top: 4.5rem;
    }
  }

  .menu-drawer-container {
    display: flex;
    margin-left: 2rem;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .mega-menu__list li {
    padding-bottom: 0; /* 1.1 */
    display: flex;
    align-items: end;
  }

  .list-menu--inline li:last-of-type {
    padding-right: 0;
  }

  .list-menu--inline li a ,
  .list-menu--inline li span {
    font-size: 1.9rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  #Header-{{ section.id }},
  .header-wrapper,
  #Header-{{ section.id }} .mega-menu .mega-menu__content {
    background: {{ section.settings.color_background }};
    color: {{ section.settings.text_color }};
  }
  #Header-{{ section.id }} .header__icon--menu,
  #Header-{{ section.id }} li a,
  #Header-{{ section.id }} .header__menu-item,
  #Header-{{ section.id }} .header__menu-item span,
  #Header-{{ section.id }} .header__icon  .icon-text  {
    color: {{ section.settings.text_color }};
    text-decoration: none;
  }
  #Header-{{ section.id }} .header__menu-item:hover,
  #Header-{{ section.id }} .header__menu-item:hover span,
  #Header-{{ section.id }} .header__menu-item span.active,
  #Header-{{ section.id }} li:hover > a,
  #Header-{{ section.id }} li:hover > summary > span,
  #Header-{{ section.id }} li.header__active-menu-item  span,
  #Header-{{ section.id }} .list-menu--inline li li > header-menu > details.header__active-menu-item span,
  #Header-{{ section.id }} .mega-menu[open] > summary > span {
    color: {{ section.settings.text_hover_color }};
    text-decoration: none;
  }

  @media screen and (min-width: 750px) {
    #Header-{{ section.id }} .list-menu--inline > li details summary,
    #Header-{{ section.id }} .list-menu--inline li li details,
    #Header-{{ section.id }} ul:not(.mega-menu__sublist,.menu-drawer__menu) li:not(.header__active-menu-item ) > a {
      border-bottom: 0.3rem solid transparent;
      transition: .5s;
    }

    #Header-{{ section.id }} .list-menu--inline > li > header-menu > details > summary {
      padding-right: 2.5rem;
    } 

    #Header-{{ section.id }} .list-menu--inline > li > header-menu > details > summary > svg {
      /*display: none;*/
    } 

    #Header-{{ section.id }} .list-menu--inline > li > header-menu > details > summary:hover, 
    #Header-{{ section.id }} .list-menu--inline li li:active > header-menu > details, 
    #Header-{{ section.id }} .list-menu--inline li li:hover > header-menu >  details,
    #Header-{{ section.id }} .list-menu--inline li li > header-menu > details.header__active-menu-item,
    #Header-{{ section.id }} .list-menu--inline li.header__active-menu-item,
    #Header-{{ section.id }} ul:not(.mega-menu__sublist) li:not(.header__active-menu-item):hover > a {
      border-bottom: 0.3rem solid {{ section.settings.text_hover_color }};
    }

    #Header-{{ section.id }} .list-menu--inline li li .header__active-menu-item {
      text-decoration: none;
    }
  }
  .section-header {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    background: {{ section.settings.color_background }};
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
  @media screen and (max-width: 989px) { 
    /*#Header-{{ section.id }} .cart-count-bubble {
      background: {{ section.settings.text_hover_color }};
      color: {{ section.settings.color_background }};
    }*/

    .section-header.menu-open,
    .section-header.menu-open .header-wrapper,
    .section-header.menu-open #Header-{{ section.id }} {
      background: {{ section.settings.mobile_color_background }};
    }

    #Header-{{ section.id }} .menu-drawer,
    #Header-{{ section.id }} .menu-drawer__navigation,
    #Header-{{ section.id }} details[open].menu-opening > .menu-drawer__submenu,
    #Header-{{ section.id }} .menu-drawer__featured-items-wrap {
      background: {{ section.settings.mobile_color_background }};
    }

    #Header-{{ section.id }} li a,
    #Header-{{ section.id }} .menu-drawer__featured-items-wrap .menu-drawer__featured_title,
    #Header-{{ section.id }} .menu-drawer__featured-items .mega-menu_item a  {
      color: {{ section.settings.mobile_text_color }};
      background: {{ section.settings.mobile_color_background }};
    }

    #Header-{{ section.id }} li a:hover {
      color: {{ section.settings.mobile_text_hover_color }};
    }
    #Header-{{ section.id }} .menu-drawer__menu-item--active, #Header-{{ section.id }} .menu-drawer__menu-item:focus,  #Header-{{ section.id }} .menu-drawer__menu-item[aria-expanded="true"],
    #Header-{{ section.id }} .menu-drawer__close-button:focus, #Header-{{ section.id }} .menu-drawer__menu-item:hover,
    #Header-{{ section.id }} .menu-drawer__close-button:hover {
      color: {{ section.settings.mobile_text_hover_color }};
      background: {{ section.settings.mobile_color_background }};
    }

    #Header-{{ section.id }}  .menu-drawer__utility-links li a,
    .menu-drawer__utility-links {
      background: transparent;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'accounts-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" width="30.019" height="30.075" viewBox="0 0 30.019 30.075">
    <path d="M23.132 21.359a1.236 1.236 0 0 1-1.749 1.747l-6.049-6.04a.766.766 0 0 0-.937-.087 5.517 5.517 0 0 1-.527.333 9.262 9.262 0 1 1 3.448-3.432 4.859 4.859 0 0 1-.314.492.763.763 0 0 0 .082.943zM9.273 16.06a6.795 6.795 0 1 0-6.8-6.792 6.8 6.8 0 0 0 6.8 6.792z" transform="rotate(14.98 1.022 25.789)" style="fill:#fff;stroke:#253746" data-name="search-icon"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper {% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header id="Header-{{ section.id }}" class="header header--{{ section.settings.logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent" role="link">
      {{ "accessibility.skip_to_text" | t }}
    </a>
    {%- if section.settings.mobile_menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger-alt' %}
            </span>
          </summary>
          <div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer-heading" >
              <div class="menu-drawer-close">
                {% render 'icon-close' %} 
                Close Menu
              </div>
              <div class="menu-drawer-logo">
                {%- if section.settings.svg_logo_mobile != blank -%}
                  <div class="mobile-logo svg medium-hide large-up-hide" aria-label="{{ shop.name }}">
                    {{ section.settings.svg_logo_mobile }}
                  </div>
                {%- else -%}
                  {%- if section.settings.logo_mobile != blank -%}
                    {%- assign image_size_2x_mobile = section.settings.logo_width | times: 2 | at_most: 5760 -%}
                    <img class="mobile-logo large-up-hide" srcset="{{ section.settings.logo_mobile | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo_mobile | image_url: width: image_size_2x_mobile }} 2x"
                      src="{{ section.settings.logo_mobile | image_url: width: section.settings.logo_width }}"
                      loading="lazy"
                      class="header__heading-logo"
                      width="{{ section.settings.logo_mobile.width }}"
                      height="{{ section.settings.logo_mobile.height }}"
                      alt="{{ section.settings.logo_mobile.alt | default: shop.name | escape }}"
                    >
                  {%- else -%}
                    <span class="h2">{{ shop.name }}</span>
                  {%- endif -%}
                {%- endif -%}
              </div>
            </div>
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  {%- comment -%}Removed class has-submenu {%- endcomment -%}
                  <ul class="menu-drawer__menu list-menu" role="list">
                    {%- for link in section.settings.mobile_menu.links -%}
                      {%- if link.links != blank -%}
                        {%- for childlink in link.links -%}
                        {%- liquid
                          assign menu_block = null
                          for block in section.blocks
                            case block.type
                              when 'mega_menu'
                              if block.settings.parent == childlink.title
                                assign menu_block = block
                              endif
                            endcase                                      
                          endfor
                        -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              {%- if menu_block != blank -%}
                                <input id="Details-menu-drawer-submenu-{{ forloop.index }}" {% if forloop.first %}checked{% endif %} type="radio" class="hidden" name="menudrawer--accordion">
                                <label for="Details-menu-drawer-submenu-{{ forloop.index }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                  {{ childlink.title | escape }}
                                  {% render 'icon-caret' %}
                                </label>
                                <div class="mega-menu__sublist_cards">
                                  
                                  {% for i in (1..3) %}
                                    {%- capture menu_product -%}product__{{ i }}{%- endcapture -%}
                                    {%- capture menu_image -%}image__{{ i }}{%- endcapture -%}
                                    {%- capture menu_title -%}title__{{ i }}{%- endcapture -%}
                                    {%- capture menu_link -%}link__{{ i }}{%- endcapture -%}
      
                                    {%- liquid
                                    if menu_block.settings[menu_product] != blank 
                                      assign product = menu_block.settings[menu_product] 
                                      assign badge = product.metafields.eag_fields.product_badge 
                                      render 'mega-menu', isProduct: true, image: product.featured_image, title: product.title , link: product.url, badge: badge 
                                    elsif menu_block.settings[menu_image] != blank or menu_block.settings[menu_title] != blank or menu_block.settings[menu_link] != blank
                                      render 'mega-menu', isProduct: false, image: menu_block.settings[menu_image], title: menu_block.settings[menu_title] , link: menu_block.settings[menu_link] 
                                    endif 
                                    -%}
                                  {% endfor %}
                                </div>
                              {%- else -%}
                              <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                              {%- endif -%}
                            {%- else -%}
                              <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                  {{ childlink.title | escape }}
                                  {% render 'icon-arrow' %}
                                  {% render 'icon-caret' %}
                                </summary>
                                {%- comment -%} REmoved class has-submenu{%- endcomment -%}
                                <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu  gradient motion-reduce">
                                  <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                    {% render 'icon-arrow' %}
                                    {{ childlink.title | escape }}
                                  </button>
                                  <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </div>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      {%- else -%}
                        <li>
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            <div class="menu-drawer__menu-item-inner">
                            {% if mobile_menu_svg_icon != blank %}
                              <div class="mobile_menu_svg_icon">
                                {{ mobile_menu_svg_icon }}
                              </div>
                              {% else %}
                                {% if mobile_menu_svg_icon != blank %}
                                <div class="mobile_menu_svg_image">
                                  <img srcset="{{ mobile_menu_svg_image | image_url: width: 40 }} 1x, {{ mobile_menu_svg_image | image_url: width: 80 }} 2x"
                                    src="{{ mobile_menu_svg_image | image_url: width: 40 }}"
                                    loading="lazy"
                                    class="header__heading-logo"
                                    width="{{ mobile_menu_svg_image.width }}"
                                    height="{{ mobile_menu_svg_image.height }}"
                                    alt="{{ mobile_menu_svg_image.alt | default: shop.name | escape }}"
                                  >
                                </div>
                                {% endif %}
                            {% endif %}
                            {{ link.title | escape }}
                            </div>
                          </a>
                        </li>
                      {%- endif -%}
                    {%- endfor -%}
                    {%- if shop.customer_accounts_enabled -%}
                      <li>
                        {%- if customer -%}
                          <a href="{{ routes.account_url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">
                            <div class="menu-drawer__menu-item-inner">
                                {{ 'customer.account_fallback' | t }}
                            </div>
                          </a>
                        {%- else -%}
                          <modal-opener data-modal="#accounts">
                            <button data-href="{{ routes.account_login_url }}" aria-haspopup="dialog" class="menu-drawer__menu-item list-menu__item link link--text focus-inset" 
                              aria-label="{{ 'customer.log_in' | t }}">
                              <div class="menu-drawer__menu-item-inner">
                                {{ 'customer.log_in' | t }}
                              </div>
                            </button>
                          </modal-opener>
                        {%- endif -%}
                      </li>
                    {%- endif -%}
                  </ul>
                </nav>
                
                {%- if section.settings.header_button_text != blank and section.settings.header_button_url != blank -%}
                  <a href="{{ section.settings.header_button_url }}" class="button header_button">{{ section.settings.header_button_text }}</a>
                {%- endif -%}
                <div class="menu-drawer__featured-items-wrap">
                  {%- if section.settings.images_title != blank -%}
                  <span class="menu-drawer__featured_title">
                    {{ section.settings.images_title }}
                  </span>
                  {%- endif -%}
                  {%- comment -%}
                  <div class="menu-drawer__featured-items">
                  {% for i in (1..3) %}
                    {%- capture featured_product -%}product__{{ i }}{%- endcapture -%}
                    {%- capture featured_image -%}image__{{ i }}{%- endcapture -%}
                    {%- capture featured_title -%}title__{{ i }}{%- endcapture -%}
                    {%- capture featured_link -%}link__{{ i }}{%- endcapture -%}

                    {%- liquid
                    if section.settings[featured_product] != blank 
                      assign product = section.settings[featured_product] 
                      assign badge = product.metafields.eag_fields.product_badge 
                      render 'mega-menu', isProduct: true, image: product.featured_image, title: product.title , link: product.url, badge: badge 
                    else 
                      render 'mega-menu', isProduct: false, image: section.settings[featured_image], title: section.settings[featured_title] , link: section.settings[featured_link] 
                    endif 
                    -%}
                  {% endfor %}
                  </div>
                  {%- endcomment -%}
                </div>
                <div class="menu-drawer__utility-links">
                  <ul class="list list-social list-unstyled" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                          {%- render 'icon-tiktok' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    {%- if section.settings.enable_search -%}
      {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
        <details-modal class="header__search">
          <details>
            <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
              <span>
                <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="img">
                  <use href="#icon-search">
                </svg>
                <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="img">
                  <use href="#icon-close">
                </svg>
              </span>
            </summary>
            <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
              <div class="modal-overlay"></div>
              <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
                {%- if settings.predictive_search_enabled -%}
                  <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                {%- endif -%}
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                    <div class="field">
                      <input class="search__input field__input"
                        id="Search-In-Modal-1"
                        type="search"
                        name="q"
                        value=""
                        placeholder="{{ 'general.search.search' | t }}"
                        {%- if settings.predictive_search_enabled -%}

                          aria-owns="predictive-search-results-list"
                          aria-controls="predictive-search-results-list"
                          aria-haspopup="listbox"
                          aria-autocomplete="list"
                          autocorrect="off"
                          autocomplete="off"
                          autocapitalize="off"
                          spellcheck="false"
                        {%- endif -%}
                      >
                      <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                      <input type="hidden" name="options[prefix]" value="last">
                      <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                        <svg class="icon icon-search" aria-hidden="true" focusable="false" role="img">
                          <use href="#icon-search">
                        </svg>
                      </button>
                    </div>

                    {%- if settings.predictive_search_enabled -%}
                      <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                        <div class="predictive-search__loading-state">
                          <svg aria-hidden="true" focusable="false" role="img" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </div>
                      <div id="predictive-search-results">
                        <ul id="predictive-search-results-list"></ul>
                      </div>
                      <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                    {%- endif -%}
                  </form>
                {%- if settings.predictive_search_enabled -%}
                  </predictive-search>
                {%- endif -%}
                <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                  <svg class="icon icon-close" aria-hidden="true" focusable="false" role="img">
                    <use href="#icon-close">
                  </svg>
                </button>
              </div>
            </div>
          </details>
        </details-modal>
      {%- endif -%}
    {%- endif -%}

    {%- if request.page_type == 'index' -%}
      <h1 class="header__heading">
    {%- endif -%}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if section.settings.svg_logo != blank -%}
            <div class="desktop-logo svg small-hide" aria-label="{{ shop.name }}">
              {{ section.settings.svg_logo }}
            </div>
          {%- else -%}
            {%- if section.settings.logo != blank -%}
              {%- assign image_size_2x = section.settings.logo_width | times: 2 | at_most: 5760 -%}
              <img class=" desktop-logo small-hide" srcset="{{ section.settings.logo | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo | image_url: width: image_size_2x }} 2x"
                src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
                loading="lazy"
                class="header__heading-logo"
                width="{{ section.settings.logo.width }}"
                height="{{ section.settings.logo.height }}"
                alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
              >
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          {%- endif -%}

          {%- comment -%} Mobile logo {%- endcomment -%}
          {%- if section.settings.svg_logo_mobile != blank -%}
            <div class="mobile-logo svg medium-hide large-up-hide" aria-label="{{ shop.name }}">
              {{ section.settings.svg_logo_mobile }}
            </div>
          {%- else -%}
            {%- if section.settings.logo_mobile != blank -%}
              {%- assign image_size_2x_mobile = section.settings.logo_width | times: 2 | at_most: 5760 -%}
              <img class="mobile-logo medium-hide large-up-hide" srcset="{{ section.settings.logo_mobile | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo_mobile | image_url: width: image_size_2x_mobile }} 2x"
                src="{{ section.settings.logo_mobile | image_url: width: section.settings.logo_width }}"
                loading="lazy"
                class="header__heading-logo"
                width="{{ section.settings.logo_mobile.width }}"
                height="{{ section.settings.logo_mobile.height }}"
                alt="{{ section.settings.logo_mobile.alt | default: shop.name | escape }}"
              >
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          {%- endif -%}
        </a>
    {%- if request.page_type == 'index' -%}
      </h1>
    {%- endif -%}

    {%- if section.settings.menu != blank -%}
      {%- if section.settings.menu_type_desktop == 'dropdown' -%}
        <nav class="header__inline-menu level-1" aria-label="header__inline-menu-level-1" >
          <ul class="list-menu list-menu--inline header__inline-menu-main menu" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {%- else -%}
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                  <span>{{ childlink.title | escape }}</span>
                                  {% render 'icon-caret' %}
                                </summary>
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %} aria-label="{{ link.title | escape }}">
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- else -%}
        <nav class="header__inline-menu level-1" aria-label="header__inline-menu-level-1">
          <ul class="list-menu list-menu--inline header__inline-menu-main" role="list">
            {% if template.name == 'product' %}
              {%- assign setSubmenuOpen = false -%}
            {% else %}
              {%- assign setSubmenuOpen = true -%}
            {% endif %}
            {%- for link in section.settings.menu.links -%}
              <li {% if link.links != blank %}class="has-mega-menu"{% endif %}>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu" data-open="{{ setSubmenuOpen }}" {% if setSubmenuOpen %} open{% endif %}>
                      {%- assign setSubmenuOpen = false -%}
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %} aria-label="{{ link.title | escape }}">
                          <span {% if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        </a>
                        {% render 'icon-caret' %}
                      </summary>
                      <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup" tabindex="-1">
                        <ul class="mega-menu__list mega-menu__sublist page-width" role="list">
                          {%- for childlink in link.links -%}
                            {%- liquid
                              assign menu_block = null
                              for block in section.blocks
                                case block.type
                                  when 'mega_menu'
                                  if block.settings.parent == childlink.title
                                    assign menu_block = block
                                  endif
                                endcase                                      
                              endfor
                            -%}

                            <li>
                              {%- if menu_block != blank -%}
                                <header-menu>
                                  <details id="Details-HeaderSubMenu-{{ forloop.index }}" class="mega-menu mega-submenu  {%- if childlink.current %} header__active-menu-item{% endif %}">
                                    <summary class="header__menu-item list-menu__item link focus-inset">
                                      <span {%- if childlink.child_active %} class="header__active-menu-item"{% endif %}>{{ childlink.title | escape }}</span>
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div id="MegaMenu-subContent-{{ forloop.index }}" class="mega-menu__content mega-menu__subcontent gradient motion-reduce global-settings-popup {% if childlink.links == blank %} no-left-links{% endif %}" tabindex="-2">
                                      <div class="mega-menu__content_inner  page-width">
                                        
                                        {%- style -%}
                                        #Header-{{ section.id }} .mega-menu [id^="MegaMenu-subContent"].mega-menu__content li a,
                                        #Header-{{ section.id }} .mega-menu [id^="MegaMenu-subContent"].mega-menu__content .header__menu-item,
                                        #Header-{{ section.id }} .mega-menu [id^="MegaMenu-subContent"].mega-menu__content .mega-menu_item__link,
                                        #Header-{{ section.id }} .mega-menu [id^="MegaMenu-subContent"].mega-menu__content .header__menu-item span {
                                          color: {{ menu_block.settings.mega_menu_text_color }};
                                          text-decoration: none;
                                        }
                                        #Header-{{ section.id }} .mega-menu [id^="MegaMenu-subContent"].mega-menu__content .header__menu-item:hover,
                                        #Header-{{ section.id }} .mega-menu [id^="MegaMenu-subContent"].mega-menu__content .mega-menu_item__link:hover,
                                        #Header-{{ section.id }} .mega-menu [id^="MegaMenu-subContent"].mega-menu__content li a:hover {
                                          color: {{ menu_block.settings.mega_menu_text_hover_color }};
                                          text-decoration: none;
                                        }

                                        #Header-{{ section.id }} .mega-menu [id^="MegaMenu-subContent"].mega-menu__content li:hover {
                                          border-bottom: 0.3rem solid {{ section.settings.mega_menu_text_hover_color }};
                                        }
                                        #Header-{{ section.id }} .mega-menu [id^="MegaMenu-subContent"].mega-menu__content,
                                        #Header-{{ section.id }} .mega-menu [id^="MegaMenu-subContent"].mega-menu__content li a {
                                          background: {{ menu_block.settings.mega_menu_color_background }};
                                          color: {{ menu_block.settings.mega_menu_text_color }};
                                        }

                                        @media screen and (min-width: 750px) {
                                          #Header-{{ section.id }} ul.mega-menu__sublist li > a {
                                            border-bottom: 0.3rem solid transparent;
                                          }

                                          #Header-{{ section.id }} ul.mega-menu__sublist li:hover > a {
                                            border-bottom: 0.3rem solid {{ section.settings.mega_menu_text_hover_color }};
                                          }

                                          #Header-{{ section.id }} ul:not(.mega-menu__sublist) li:not(.header__active-menu-item):hover > a {
                                            border-bottom: 0.3rem solid {{ section.settings.mega_menu_text_hover_color }};
                                          }
                                        }
                                      
                                        #Header-{{ section.id }} ul.mega-menu__sublist li:hover  {
                                          border-bottom: none !important;
                                        }
                                      {%- endstyle -%}
                                      

                                        {%- if childlink.links != blank -%}
                                        <div class="mega-menu__content_left">

                                          {%- if menu_block != blank -%}
                                          <span class="mega-menu__submenu_title">
                                            {{ menu_block.settings.sub_menu_title }}
                                          </span>
                                          
                                          {%- endif -%}
                                          <ul class="mega-menu__sublist" role="list">
                                            {%- for grandchildlink in childlink.links -%}
                                              <li>
                                                <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                  {{ grandchildlink.title | escape }}
                                                </a>
                                              </li>
                                            {%- endfor -%}
                                          </ul>
                                          {%- if menu_block != blank -%}
                                            {%- if menu_block.settings.sub_menu_label != blank and menu_block.settings.sub_menu_link != blank -%}
                                              <a href="{{ menu_block.settings.sub_menu_link }}" class="mega-menu_item__link outline">{{ menu_block.settings.sub_menu_label }}</a>
                                            {%- endif -%}
                                          {%- endif -%}
                                        </div>
                                        {%- endif -%}
    
                                        <div class="mega-menu__content_right">
                                          {%- if menu_block != blank -%}
                                            <span class="mega-menu__sublist_cards_title">
                                              {{ menu_block.settings.images_title }}
                                            </span>
                                          {%- endif -%}
                                          
                                          {%- if menu_block != blank -%}
                                          <div class="mega-menu__sublist_cards">
                                            
                                            {% for i in (1..3) %}
                                              {%- capture menu_product -%}product__{{ i }}{%- endcapture -%}
                                              {%- capture menu_image -%}image__{{ i }}{%- endcapture -%}
                                              {%- capture menu_title -%}title__{{ i }}{%- endcapture -%}
                                              {%- capture menu_link -%}link__{{ i }}{%- endcapture -%}
    
                                              {%- liquid
                                              if menu_block.settings[menu_product] != blank 
                                                assign product = menu_block.settings[menu_product] 
                                                assign badge = product.metafields.eag_fields.product_badge 
                                                render 'mega-menu', isProduct: true, image: product.featured_image, title: product.title , link: product.url, badge: badge 
                                              elsif menu_block.settings[menu_image] != blank or menu_block.settings[menu_title] != blank or menu_block.settings[menu_link] != blank
                                                render 'mega-menu', isProduct: false, image: menu_block.settings[menu_image], title: menu_block.settings[menu_title] , link: menu_block.settings[menu_link] 
                                              endif 
                                              -%}
    
                                            {% endfor %}
                                          </div>
    
                                          {%- endif -%}
                                          
                                        </div>
    
                                      </div>
    
                                    </div>
                                  </details>
                                </header-menu>                                
                              {%- else -%}
                                <a href="{{ childlink.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if childlink.current %} aria-current="page"{% endif %} aria-label="{{ childlink.title | escape }}">
                                  <span {%- if childlink.current %} class="header__active-menu-item"{% endif %}>{{ childlink.title | escape }}</span>
                                </a>
                              {%- endif -%}

                            </li>
                          {%- endfor -%}
                        </ul>
                        {%- comment -%}
                        <div class="header__icons">
                          <details-modal class="header__search">
                            <details>
                              <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
                                <span>
                                  <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="img">
                                    <use href="#icon-search">
                                  </svg>
                                  <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="img">
                                    <use href="#icon-close">
                                  </svg>
                                </span>
                                <span class="icon-text">{{ 'general.search.search' | t }}</span>
                              </summary>
                              <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
                                <div class="modal-overlay"></div>
                                <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
                                  {%- if settings.predictive_search_enabled -%}
                                    <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                                  {%- endif -%}
                                    <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                                      <div class="field">
                                        <input class="search__input field__input"
                                          id="Search-In-Modal"
                                          type="search"
                                          name="q"
                                          value=""
                                          placeholder="{{ 'general.search.search' | t }}"
                                          {%- if settings.predictive_search_enabled -%}
                                            role="combobox"
                                            aria-expanded="false"
                                            aria-owns="predictive-search-results-list"
                                            aria-controls="predictive-search-results-list"
                                            aria-haspopup="listbox"
                                            aria-autocomplete="list"
                                            autocorrect="off"
                                            autocomplete="off"
                                            autocapitalize="off"
                                            spellcheck="false"
                                          {%- endif -%}
                                        >
                                        <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                                        <input type="hidden" name="options[prefix]" value="last">
                                        <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                                          <svg class="icon icon-search" aria-hidden="true" focusable="false" role="img">
                                            <use href="#icon-search">
                                          </svg>
                                        </button>
                                      </div>
                    
                                      {%- if settings.predictive_search_enabled -%}
                                        <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                                          <div class="predictive-search__loading-state">
                                            <svg aria-hidden="true" focusable="false" role="img" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                            </svg>
                                          </div>
                                        </div>
                    
                                        <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                                      {%- endif -%}
                                    </form>
                                  {%- if settings.predictive_search_enabled -%}
                                    </predictive-search>
                                  {%- endif -%}
                                  <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                                    <svg class="icon icon-close" aria-hidden="true" focusable="false" role="img">
                                      <use href="#icon-close">
                                    </svg>
                                  </button>
                                </div>
                              </div>
                            </details>
                          </details-modal>
                    
                          {%- if shop.customer_accounts_enabled -%}
                            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
                              {% render 'icon-account-main' %}
                              <span  class="icon-text">
                                {%- liquid
                                  if customer
                                    echo 'customer.account_fallback' | t
                                  else
                                    echo 'customer.log_in' | t
                                  endif
                                -%}
                              </span>
                            </a>
                          {%- endif -%}
                    
                          <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset js-minicart-open" id="cart-icon-bubble" {% if cart != empty %} data-cart-has-products{% endif %}>
                            {% render 'icon-cart-main' %}
                            <span  class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                            {%- if cart != empty -%}
                              <div class="cart-count-bubble">
                                {%- if cart.item_count < 100 -%}
                                  <span aria-hidden="true">{{ cart.item_count }}</span>
                                {%- endif -%}
                                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                              </div>
                            {%- else -%}
                              <div class="cart-count-bubble cart-count-bubble-empty">0</div>
                            {%- endif -%}
                          </a>
                        </div>
                        {%- endcomment -%}
                      </div>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %} aria-label="{{ link.title | escape }}">
                    <span {% if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons">
      {%- if section.settings.header_button_text != blank and section.settings.header_button_url != blank -%}
        <a href="{{ section.settings.header_button_url }}" class="button header_button{% if section.settings.menu != blank %} medium-hide small-hide{% endif %}">{{ section.settings.header_button_text }}</a>
      {%- endif -%}
      {%- if section.settings.enable_search -%}
        <details-modal class="header__search">
          <details>
            <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
              <span>
                <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="img">
                  <use href="#icon-search">
                </svg>
                <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="img">
                  <use href="#icon-close">
                </svg>
              </span>
              <span class="icon-text">{{ 'general.search.search' | t }}</span>
            </summary>
            <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
              <div class="modal-overlay"></div>
              <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
                {%- if settings.predictive_search_enabled -%}
                  <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                {%- endif -%}
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                    <div class="field">
                      <input class="search__input field__input"
                        id="Search-In-Modal"
                        type="search"
                        name="q"
                        value=""
                        placeholder="{{ 'general.search.search' | t }}"
                        {%- if settings.predictive_search_enabled -%}
                          aria-owns="predictive-search-results-list"
                          aria-controls="predictive-search-results-list"
                          aria-haspopup="listbox"
                          aria-autocomplete="list"
                          autocorrect="off"
                          autocomplete="off"
                          autocapitalize="off"
                          spellcheck="false"
                        {%- endif -%}
                      >
                      <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                      <input type="hidden" name="options[prefix]" value="last">
                      <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                        <svg class="icon icon-search" aria-hidden="true" focusable="false" role="img">
                          <use href="#icon-search">
                        </svg>
                      </button>
                    </div>

                    {%- if settings.predictive_search_enabled -%}
                      <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                        <div class="predictive-search__loading-state">
                          <svg aria-hidden="true" focusable="false" role="img" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </div>

                      <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                    {%- endif -%}
                  </form>
                {%- if settings.predictive_search_enabled -%}
                  </predictive-search>
                {%- endif -%}
                <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                  <svg class="icon icon-close" aria-hidden="true" focusable="false" role="img">
                    <use href="#icon-close">
                  </svg>
                </button>
              </div>
            </div>
          </details>
        </details-modal>
      {%- endif -%}

      {%- if shop.customer_accounts_enabled -%}
        {%- if customer -%}
        <a href="{{ routes.account_url }}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
          aria-label="{{ 'customer.account_fallback' | t }}">
          {% render 'icon-account-alt' %}
          <span  class="icon-text">
            {{ 'customer.account_fallback' | t }}
          </span>
        </a>
        {%- else -%}
        <modal-opener data-modal="#accounts">
          <button data-href="{{ routes.account_login_url }}" aria-haspopup="dialog" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}" 
            aria-label="{{ 'customer.log_in' | t }}">
            {% render 'icon-account-alt' %}
            <span  class="icon-text">
              {{ 'customer.log_in' | t }}
            </span>
          </button>
        </modal-opener>
        <accounts-modal id="accounts" class="accounts-modal">
          <div role="dialog" aria-label="" aria-modal="true" class="accounts-modal__content global-settings-popup" tabindex="-1">
            <div class="accounts-sidebar-heading">
              <h3 class="login-heading">{{ 'customer.log_in_heading' | t }}</h3>
              <h3 class="reset-heading">{{ 'customer.reset_heading' | t }}</h3>
              <h3 class="create-heading">{{ 'customer.create_heading' | t }}</h3>
              <button id="ModalClose-accounts" type="button" class="accounts-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
            </div>
            <div class="loading-overlay__spinner hidden">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
            <div id="Info-accounts" class="accounts-modal__content-info">
            </div>
          </div>          
        </accounts-modal>
        {%- endif -%}
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset js-minicart-open {% if cart == empty %} is-empty{% endif %} " id="cart-icon-bubble" {% if cart != empty %} data-cart-has-products{% endif %}>
        {% render 'icon-cart-main' %}
        <span  class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- else -%}
          <div class="cart-count-bubble cart-count-bubble-empty">0</div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.body = document.querySelector('body');
      this.header = document.getElementById('shopify-section-ea-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.body.classList.add('sticky-header-hidden');
      //this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
      this.body.classList.remove('sticky-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
      this.body.classList.remove('sticky-header-hidden');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      if( this.searchModal != null ){
        this.searchModal.close(false);
      }
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.ea-header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "color",
      "id": "color_background",
      "default": "transparent",
      "label": "t:sections.ea-header.settings.color_background.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "transparent",
      "label": "t:sections.ea-header.settings.text_color.label"
    },
    {
      "type": "color",
      "id": "text_hover_color",
      "default": "transparent",
      "label": "t:sections.ea-header.settings.text_hover_color.label"
    },
    {
      "type": "html",
      "id": "svg_logo",
      "label": "t:sections.ea-header.settings.svg_logo.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.ea-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.ea-header.settings.logo_width.unit",
      "label": "t:sections.ea-header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.ea-header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.ea-header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.ea-header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.ea-header.settings.logo_position.label",
      "info": "t:sections.ea-header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.ea-header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.ea-header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.ea-header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.ea-header.settings.menu_type_desktop.label",
      "info": "t:sections.ea-header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "default": false,
      "label": "t:sections.ea-header.settings.enable_search.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.ea-header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.ea-header.settings.enable_sticky_header.label",
      "info": "t:sections.ea-header.settings.enable_sticky_header.info"
    },
    {
      "type": "text",
      "id": "header_button_text",
      "label": "t:sections.ea-header.settings.header_button_text.label"
    },
    {
      "type": "url",
      "id": "header_button_url",
      "label": "t:sections.ea-header.settings.header_button_url.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.ea-header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.ea-header.settings.header__10.content"
    },
    {
      "type": "html",
      "id": "svg_logo_mobile",
      "label": "t:sections.ea-header.settings.svg_logo_mobile.label"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "t:sections.ea-header.settings.logo_mobile.label"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "default": "main-menu",
      "label": "t:sections.ea-header.settings.mobile_menu.label"
    },
    {
      "type": "color",
      "id": "mobile_color_background",
      "default": "transparent",
      "label": "t:sections.ea-header.settings.mobile_color_background.label"
    },
    {
      "type": "color",
      "id": "mobile_text_color",
      "default": "transparent",
      "label": "t:sections.ea-header.settings.mobile_text_color.label"
    },
    {
      "type": "color",
      "id": "mobile_text_hover_color",
      "default": "transparent",
      "label": "t:sections.ea-header.settings.mobile_text_hover_color.label"
    },
    {
      "type": "text",
      "label": "t:sections.ea-header.settings.images_title.label",
      "id": "images_title"
    },
    {
      "type": "header",
      "content": "t:sections.ea-header.settings.header__1.content",
      "info": "t:sections.ea-header.settings.header__1.info"
    },
    {
      "type": "product",
      "id": "product__1",
      "label": "t:sections.ea-header.settings.product__1.label"
    },
    {
      "type": "image_picker",
      "id": "image__1",
      "label": "t:sections.ea-header.settings.image__1.label"
    },
    {
      "type": "text",
      "id": "title__1",
      "label": "t:sections.ea-header.settings.title__1.label"
    },
    {
      "type": "url",
      "id": "link__1",
      "label": "t:sections.ea-header.settings.link__1.label"
    },
    {
      "type": "header",
      "content": "t:sections.ea-header.settings.header__2.content",
      "info": "t:sections.ea-header.settings.header__2.info"
    },
    {
      "type": "product",
      "id": "product__2",
      "label": "t:sections.ea-header.settings.product__2.label"
    },
    {
      "type": "image_picker",
      "id": "image__2",
      "label": "t:sections.ea-header.settings.image__2.label"
    },
    {
      "type": "text",
      "id": "title__2",
      "label": "t:sections.ea-header.settings.title__2.label"
    },
    {
      "type": "url",
      "id": "link__2",
      "label": "t:sections.ea-header.settings.link__2.label"
    },
    {
      "type": "header",
      "content": "t:sections.ea-header.settings.header__3.content",
      "info": "t:sections.ea-header.settings.header__3.info"
    },
    {
      "type": "product",
      "id": "product__3",
      "label": "t:sections.ea-header.settings.product__3.label"
    },
    {
      "type": "image_picker",
      "id": "image__3",
      "label": "t:sections.ea-header.settings.image__3.label"
    },
    {
      "type": "text",
      "id": "title__3",
      "label": "t:sections.ea-header.settings.title__3.label"
    },
    {
      "type": "url",
      "id": "link__3",
      "label": "t:sections.ea-header.settings.link__3.label"
    }
  ],
  "blocks": [
    {
      "type": "mobile_menu_icon",
      "name": "t:sections.ea-header.blocks.mobile_menu_icon.name",
      "limit": 15,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.ea-header.blocks.mobile_menu_icon.settings.header__2.content",
          "info": "t:sections.ea-header.blocks.mobile_menu_icon.settings.header__2.info"
        },
        {
          "type": "html",
          "id": "mobile_menu_svg_icon",
          "label": "t:sections.ea-header.blocks.mobile_menu_icon.settings.mobile_menu_svg_icon.label"
        },
        {
          "type": "image_picker",
          "id": "mobile_menu_svg_image",
          "label": "t:sections.ea-header.blocks.mobile_menu_icon.settings.mobile_menu_svg_image.label"
        },
        {
          "type": "text",
          "label": "t:sections.ea-header.blocks.mobile_menu_icon.settings.mobile_menu_title.label",
          "id": "mobile_menu_title"
        },
        {
          "type": "url",
          "id": "mobile_menu_link",
          "label": "t:sections.ea-header.blocks.mobile_menu_icon.settings.mobile_menu_link.label"
        }
      ]
    },
    {
      "type": "mega_menu",
      "name": "t:sections.ea-header.blocks.mega_menu.name",
      "limit": 12,
      "settings": [
        {
          "type": "color",
          "id": "mega_menu_color_background",
          "default": "transparent",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.mega_menu_color_background.label"
        },
        {
          "type": "color",
          "id": "mega_menu_text_color",
          "default": "transparent",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.mega_menu_text_color.label"
        },
        {
          "type": "color",
          "id": "mega_menu_text_hover_color",
          "default": "transparent",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.mega_menu_text_hover_color.label"
        },
        {
          "type": "text",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.parent.label",
          "id": "parent"
        },
        {
          "type": "text",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.sub_menu_title.label",
          "id": "sub_menu_title"
        },
        {
          "type": "text",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.sub_menu_label.label",
          "id": "sub_menu_label"
        },
        {
          "type": "url",
          "id": "sub_menu_link",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.sub_menu_link.label"
        },
        {
          "type": "text",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.images_title.label",
          "id": "images_title"
        },
        {
          "type": "header",
          "content": "t:sections.ea-header.blocks.mega_menu.settings.header__1.content",
          "info": "t:sections.ea-header.blocks.mega_menu.settings.header__1.info"
        },
        {
          "type": "product",
          "id": "product__1",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.product__1.label"
        },
        {
          "type": "image_picker",
          "id": "image__1",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.image__1.label"
        },
        {
          "type": "text",
          "id": "title__1",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.title__1.label"
        },
        {
          "type": "url",
          "id": "link__1",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.link__1.label"
        },
        {
          "type": "header",
          "content": "t:sections.ea-header.blocks.mega_menu.settings.header__2.content",
          "info": "t:sections.ea-header.blocks.mega_menu.settings.header__2.info"
        },
        {
          "type": "product",
          "id": "product__2",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.product__2.label"
        },
        {
          "type": "image_picker",
          "id": "image__2",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.image__2.label"
        },
        {
          "type": "text",
          "id": "title__2",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.title__2.label"
        },
        {
          "type": "url",
          "id": "link__2",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.link__2.label"
        },
        {
          "type": "header",
          "content": "t:sections.ea-header.blocks.mega_menu.settings.header__3.content",
          "info": "t:sections.ea-header.blocks.mega_menu.settings.header__3.info"
        },
        {
          "type": "product",
          "id": "product__3",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.product__3.label"
        },
        {
          "type": "image_picker",
          "id": "image__3",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.image__3.label"
        },
        {
          "type": "text",
          "id": "title__3",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.title__3.label"
        },
        {
          "type": "url",
          "id": "link__3",
          "label": "t:sections.ea-header.blocks.mega_menu.settings.link__3.label"
        }
      ]
    }
  ]
}
{% endschema %}
